body{
    font-family: "Inter", sans-serif;
    background-color:#F2B199;
}

.title{
    font-size: 18px;
    margin: 1rem;
    color: rgba(255, 255, 255, 0.575);
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-left{
    display: flex;
    flex-direction: column;
    margin: .7rem;
    width: 70%;
}

.input-container{
    margin: .9rem;
    padding: 2rem;
    width: 49.125rem;
    height: 310px;
}

.input{
    margin: 1.5rem 2rem;
    border: none;
    outline: none; 
    resize: none;
    background-color: #F2B199;
    padding: 1rem;
    font-size: 32px;
    color: whitesmoke;
}

::placeholder {
    color: rgba(245, 245, 245, 0.603);
    font-weight: bold;
}

.instruct-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: .5rem 6rem;
}

.img-instruct{
    width: 1.25rem;
    height: 1.25rem;
    margin: 10px;
}

.p-instruct{
    font-size: 12px;
    font-weight: 400;
    color: whitesmoke;
}

.botones{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: .3rem;
}

.encriptar{
    background-color:#F2695C;
    border: none;
    border-radius: .8rem ;
    margin: .8rem;
    padding: .7rem;
    width: 21rem;
    color: antiquewhite;
    height: 4rem;
    font-size: 16px;
    font-weight: bold;
}

.encriptar:hover{
    background-color: #c9473b;
}

.descencriptar{
    color: antiquewhite;
    background-color: #A6A6A6;
    border: none;
    border-radius: .8rem ;
    margin: .8rem;
    padding: .7rem ;
    width: 21rem;
    height: 4rem;
    font-size: 16px;
    font-weight: bold;
}

.descencriptar:hover{
    background-color: #797474;
}

.container-right{
    padding: .5rem 1rem;
    background-color: white;
    border-radius: 25px;
    height: 500px;
    width: 25%;
    margin: 1rem;
}

.frase{
    padding: 1rem;
}

.sintexto-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sintexto-img{
    width: 250px;
    height: 250px;
}

.sintexto-frase{
    font-size: 20px;
    max-width: 250px;
    text-align: center;
    margin: 0;
}

.sintexto-instruc{
    font-size: 12px;
    max-width: 220px;
    text-align: center;
    margin: .5rem;
}

@media (max-width: 768px){
    .container{
        flex-direction: column;
        align-items: center;
    }

    .container-left, .input-container{
        display: flex;
        align-items: center;
        width: 70%;
        flex-direction: column;
    }

    .container-right{
        align-items: center;
        width: 30rem;
        height: 10rem;
    }
    .descencriptar, .encriptar{
        width: 15rem;
    }
    .sintexto-img{
        display: none;
    }
    
    .instruct-container{
        width: 100%;
    }
}

@media  (min-width: 200px) and (max-width: 525px) {

    .input{
        max-width: 18.75rem;
    }
    .container-left{
        height: 30%;
    }
    .botones{
        align-items: center;
        flex-direction: column;
        width: 100%;
    }
    .container-right{
        align-items: center;
        max-width: 18.75rem;
        height: 8rem;
    }
    .descencriptar, .encriptar{
        width: 18rem;
        height: 3rem;
    }
    
    .instruct-container{
        width: 100%;
    }
    .sintexto-instruc{
        display: none;
    }
}